/*************************** GLOBAL ******************************/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

h1,
h2 {
  text-align: center;
}
h3 {
  color: aliceblue;
}
.cardcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.uk-card {
  height: 250px;
  width: 250px;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.country {
  background-color: rgb(233, 101, 101);
  color: aliceblue;
}
.team {
  background-color: rgb(73, 44, 201);
  color: aliceblue;
}
